<link href="~/css/page.css" rel="stylesheet" type="text/css" />

<div class="text-center main_page mx-auto">
    @*<img src="~/image/logo.png" class="logo_img"/>*@
    <h1 class="display-4">Welcome to Vector Fitness</h1>
   
    <h3 class="text-display">Fit body, Fit mind, Fit life!!!</h3>
    
</div>
@*<br />
<div class="text-center mx-auto"
    <a asp-controller="" asp-action="" class="">Login</a>
    <a asp-controller="" asp-action="" class="">Signup</a>
</div>*@

<br />
<div class="text-center">
   
    @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "btn btn-dark button" })
    @Html.ActionLink("Signup", "Signup", "Account", new { area = "" }, new { @class = "btn btn-dark button" })
</div>

