<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Save").click(function () {
                
                var equip = new Object();
                equip.EquipmentName = $('#EquipmentName').val();
                equip.Quantity = $('#Quantity').val();

                $.ajax({
                    url: 'https://localhost:7298/api/EquipmentsApi',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(equip),
                    success: function (data, textStatus, xhr) {
                        //window.location.href = "http://localhost:5118/Equipments";
                        var url = '@Url.Action("Index", "Equipments")';
                        window.location.href = url;
                        console.log(data);
                    },
                    error: function (response) {
                        console.log('Error in Operation' + response.responseText);
                        //console.log(equip.EquipmentName);
                        //console.log(equip.Quantity);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <form id="form1">
        EquipmentName :- <input type="text" name="EquipmentName" id="EquipmentName" />
        Quantity:- <input type="text" name="Quantity" id="Quantity" />
        <input type="button" id="Save" value="Save Data" />
    </form>
</body>
</html>

@*@model GymManagementSystem.Models.Equipment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipmentName" class="control-label"></label>
                <input asp-for="EquipmentName" class="form-control" />
                <span asp-validation-for="EquipmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@


