@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
    <title></title>
    <meta charset="utf-8" />

    <link href="~/css/extra.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>
    <body>
    <marquee class="bg-info fs-3">Thank You for joining Vector Fitness...Fit body, fit mind, fit life..!!</marquee>
    <br />
    <br />
    <h1 class="text-decoration-underline">Are you sure you want to Logout?</h1>
    <br />
    <a asp-action="Logout2" class="btn btn-outline-success">YES</a>
    <a asp-action="Index" asp-controller="Admin" class="btn btn-outline-primary">Back to Home</a>
    <hr />
    @section scripts{
        <script type="text/javascript">
            function preventBack() {
                window.history.forward();
            }
            setTimeout("preventBack()", 0);
            window.onload = function () { null };
        </script>
    }
    </body>
</html>

