
body {
    /*background-color: #ECF3FB;*/
    /* background-color: #C1DBF0;*/
    background-color: rgba(244, 246, 246, 0.8);
}

.form1 {
    /* background-color: #ECF2FF;*/
    /*background-color: #B1D4E0;*/
    background-color: white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /*background-color: #C1DBF0;*/
    /*border: 2px solid black;*/
    box-shadow: 0 2px 8px 0 rgba(99,99,99,0.4);
}

.new_link {
    margin-top: 15px;
    margin-left: 8px;
}

.new_tag {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: black;
}