<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $("#Save").click(function () {



                $.ajax({
                    url: 'https://localhost:7298/api/MembersApi/' + @ViewBag.id,
                    type: 'Delete',
                    contentType: 'application/json',
                    dataType: 'json',

                    success: function (data, textStatus, xhr) {
                        console.log(data);
                        var url = '@Url.Action("Index", "Members")';
                        window.location.href = url;
                    },
                    error: function (response) {
                        console.log('Error in Operation' + response.responseText);


                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this member?</h3>
    <div>

        <button class="btn-success btn"><a asp-action="Index">NO</a></button>
        <button class="btn-danger btn" id="Save">Yes</button>
    </div>
</body>
</html>


