@model GymManagementSystem.Models.MembershipType

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $("#Save").click(function () {

                $.ajax({
                    url: 'https://localhost:7298/api/MembershipTypesApi/'+@ViewBag.id,
                    type: 'Delete',
                    contentType: 'application/json',
                    dataType: 'json',
                    
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                        var url = '@Url.Action("Index", "MembershipTypes")';
                        window.location.href = url;
                    },
                    error: function (response) {
                        console.log('Error in Operation' + response.responseText);
                     
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Delete Membership</h1>

    <h3>Are you sure you want to delete this?</h3>

    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" id="Save" />
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </form>
</body>
</html>

