@model GymManagementSystem.Models.User

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "https://localhost:7298/api/UsersApi/" + @ViewBag.id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    
                    $('#FullName').append(response.fullName);
                    $('#Username').append(response.username);
                    
                    $('#MobileNo').append(response.mobileNo);
                    $('#joinDate').append(response.members.joinDate);
                    $('#expiryDate').append(response.members.expiryDate);

                },
                failure: function (response) {
                    alert(response.responseText);
                    alert("Failure");
                },
                error: function (response) {
                    alert(response);
                    alert("Error");
                }
            });
        });
    </script>
</head>
<body>

</body>
</html>

<h1 class="text-center">User Details:</h1>
<hr /><br />
<div>
    <h2 class="text-decoration-underline">Welcome! Your Details:</h2>
    <br />
    @*<h4 id="FullName">FullName: </h4>
    <h4 id="Username">Username: </h4>
    <h4 id="MobileNo">MobileNo: </h4>
    <h4 id="joinDate">Join Date: </h4>
    <h4 id="expiryDate">Expiry Date: </h4>*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered" >
                  <tbody>
                    <tr>
                      <th scope="row">FullName</th>
                      <td id="FullName"></td>
                    </tr>
                    <tr>
                      <th scope="row">Username</th>
                      <td id="Username"></td>
                    </tr>
                    <tr>
                      <th scope="row">MobileNo</th>
                      <td id="MobileNo"></td>
                    </tr>
                      <tr>
                      <th scope="row">Join Date</th>
                      <td id="joinDate"></td>
                    </tr>
                    <tr>
                      <th scope="row">Expiry Date</th>
                      <td id="expiryDate"></td>
                    </tr>
                  </tbody>
                </table>
    
               </div>
            </div>
         </div>
    </div>
    

