


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function (){

            $.ajax({
                type: "GET",
                url: "https://localhost:7298/api/MembershipTypesApi",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    //Clear all previous list of members
                    $("#MemberList").empty();

                    //Display Asp.Net Web API response in console log
                    //You can see console log value in developer tool
                    //by pressing F12 function key.
                    console.log(response);


                    //Variable created to store <li>Memeber Detail</li>
                    var ListValue = "";

                    //Variable created to iterate the json array values.
                    var i;

                    //Generic loop to iterate the response arrays.
                    for (i = 0; i < response.length; ++i) {
                        // ListValue += "<li>" + response[i].membershipName + " --- " + response[i].fee+" ----" + response[i].description
                        ListValue += '<tr><td>' + response[i].membershipName + '</td><td>' + response[i].fee + '</td><td>' + response[i].description + '</td ></tr >'


                    }

                    //Add/Append the formatted values of ListValue variable into ID called "MemberList"

                    $("#tbody").append(ListValue);

                },
                failure: function (response) {
                    alert(response.responseText);
                    alert("Failure");
                },
                error: function (response) {
                    alert(response.responseText);
                    alert("Error");
                }
            });


            $.ajax({
                type: "GET",
                url: "https://localhost:7298/api/usersApi/"+@ViewBag.id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    
                    
                    console.log(response);
                   

                    $.ajax({
                        type: "GET",
                        url: "https://localhost:7298/api/MembershipTypesApi/" + response.members[0].membershipId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            console.log(response.membershipName);
                           
                            $('#Membership').append(response.membershipName);

                        },
                        failure: function (response) {
                            alert(response.responseText);
                            alert("Failure");
                        },
                        error: function (response) {
                            alert(response);
                            alert("Error");
                        }
                    });

                    $.ajax({
                        type: "GET",
                        url: "https://localhost:7298/api/TrainersApi/" + response.members[0].trainerId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            console.log(response);
                            
                            $('#Trainer').append(response.user.fullName);
                            
                            

                        },
                        failure: function (response) {
                            alert(response.responseText);
                            alert("Failure");
                        },
                        error: function (response) {
                            alert(response);
                            alert("Error");
                        }
                    });

                   
                    var ListValue = "";

                        
                        console.log(response.id);
                    ListValue += '<tr><td>' + response.fullName + '</td><td>' + response.mobileNo + '</td><td>' + 'NA' + '</td><td>' + 'NA' + '</td><td>' + response.members[0].joinDate + '</td><td>' + response.members[0].expiryDate + '</td ></tr >'
                    $('#Name').append(response.fullName);
                    $('#MobileNo').append(response.mobileNo);
                    $('#Trainer').append();
                    
                    $('#JoinDate').append(response.members[0].joinDate);
                    $('#ExpiryDate').append(response.members[0].expiryDate);
                    //$("#tbody").append(ListValue);
                    
                   

                },
                failure: function (response) {
                    alert(response.responseText);
                    alert("Failure");
                },
                error: function (response) {
                    alert(response);
                    alert("Error");
                }
            });
        });
    </script>
</head>
<body>
    <marquee class="bg-info fs-3">Welcome to MaxFitness... Fit body, fit mind, fit life..!!</marquee>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                       MembershipName
                    </th>
                    <th>
                        Fee
                    </th>
                    <th>
                        Description
                    </th>
                    
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    <br /><br />
    <div>
        <h2 class="text-decoration-underline"> Your Details:</h2>
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">FullName</th>
                                <td id="Name"></td>
                            </tr>
                            
                            <tr>
                                <th scope="row">MobileNo</th>
                                <td id="MobileNo"></td>
                            </tr>

                            <tr>
                                <th scope="row">Membership</th>
                                <td id="Membership"></td>
                            </tr>

                            <tr>
                                <th scope="row">Trainer</th>
                                <td id="Trainer"></td>
                            </tr>

                            <tr>
                                <th scope="row">Join Date</th>
                                <td id="JoinDate"></td>
                            </tr>
                            <tr>
                                <th scope="row">Expiry Date</th>
                                <td id="ExpiryDate"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</body>
</html>


